body{
    background-color : #ccc
}

.selections {
    display : flex;
    justify-content : center;
}

.selection {
    background : none;
    border : none;
    outline : none;
    cursor : pointer;
    font-size : 5rem;
    transition : 300ms;
}

.selection:hover {
    transform : scale(1.4);
}
.header{
    display : flex;
    justify-content : center;
    align-items : center;


}
.results {
    margin-top : 1rem;
    display : grid;
    justify-content : center;
    grid-template-columns : repeat(2,1fr);
    justify-items : center;
    align-items : center;
    font-size : 2rem;
}

.result-score {
    margin-left : 0.1rem;
    font-size : 1.2rem
}

.result-selection {
    opacity : 0.5;
}

.result-selection.winner {
    opacity : 1;
    font-size : 2.5rem;
}